body {
    margin: 0;
    background-color:rgb(228, 197, 155);
}

@font-face {
    font-family: 'Cursed Timer ULiL';
    src: url(CursedTimerUlil-Aznm.ttf);
  }

.container {
    margin: 10px auto;
    border: black solid 2px;
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    width: 575px;
    height: 385px;
}

.score-bg {
    background-color: black;
    width: 155px;
    height: 120px;
    border: 4px red dotted;
}

p {
    color: #F94F6D;
    width: 117px;
    height: 120px;
    font-family: 'Cursed Timer ULiL';
    font-size: 90px;
    font-weight: 400;
    position: sticky;
    margin-top: -105px;
    margin-bottom: 0px;
    margin-left: 20px;
    text-align: center;
}

h3 {
    color: white;
    font-family: 'Verdana';
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

button {
    box-sizing: border-box;
    font-family: 'Cursed Timer ULiL';
    padding: 9px;
    background-color: #1B244A;
    color: #9AABD8;
    margin-top: 26px;
    font-weight: 400;
    font-size: 18px;
    border: #9AABD8 2px solid;
    border-radius: 5px;
    width: 45px;
    height: 45px;
}

.home-btn {
    /*border: red 2px solid;*/
    display: flex;
    justify-content: space-between;
}